{% extends 'base.html' %}

{% block pageContent %}
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="card card-default rounded-0 shadow">
        <div class="card-header">
            <div class="d-flex w-100 align-items-center justify-content-between">
                <h4 class="card-title fw-bold">My Uploaded Files</h4>
                <div class="tools">
                    <button type="button" class="btn btn-primary rounded-0 bg-gradient btn-sm" id="add_new"><i class="fa fa-plus"></i> Add New</button>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="container-fluid">
                <table class="table table-bordered" id="post-list">
                    <colgroup>
                        <col width="5%">
                        <col width="15%">
                        <col width="25%">
                        <col width="40%">
                        <col width="15%">
                    </colgroup>
                    <thead>
                        <tr class="bg-gradient bg-primary bg-opacity-50 text-light">
                            <th class="px-2 py-2 text-center">#</th>
                            <th class="px-2 py-2 text-center">Date/Time Uploaded</th>
                            <th class="px-2 py-2 text-center">Title</th>
                            <th class="px-2 py-2 text-center">Description</th>
                            <th class="px-2 py-2 text-center">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for post in posts %}
                        <tr>
                            <td class="px-2 py-1 align-middle">{{ forloop.counter }}</td>
                            <td class="px-2 py-1 align-middle">{{ post.date_created|date:"Y-m-d h:i A" }}</td>
                            <td class="px-2 py-1 align-middle">{{ post.title }}</td>
                            <td class="px-2 py-1 align-middle"><p class="m-0 text-truncate">{{ post.description }}</p></td>
                            <td class="px-2 py-1 align-middle text-center">
                                <a class="btn btn-outline-primary btn-sm edit-data" href="javascript:void(0)" data-id="{{ post.pk }}" title="Edit">
                                    <i class="fa fa-edit"></i>
                                </a>
                                <button class="btn btn-outline-danger btn-sm delete-data" type="button" data-id="{{ post.pk }}" title="Delete">
                                    <i class="fa fa-trash"></i>
                                </button>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<!-- Confirmation Modal -->
<div class="modal fade" id="confirmationModal" tabindex="-1" aria-labelledby="confirmationModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered"> <!-- Added class for centering the modal -->
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="confirmationModalLabel">Confirm Deletion</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Are you sure you want to delete this post permanently?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-danger" id="confirmDelete">Delete</button>
      </div>
    </div>
  </div>
</div>

{% endblock pageContent %}

{% block ScriptBlock %}
<script>
    $(document).ready(function() {
        var postIdToDelete;

        $('#add_new').click(function() {
            uni_modal('<i class="fa fa-plus"></i> Add Post', '{% url "manage-post" %}', 'modal-md');
        });

        $('.edit-data').click(function() {
            uni_modal('<i class="fa fa-edit"></i> Edit Post', '{% url "manage-post" %}/' + $(this).attr('data-id'), 'modal-md');
        });

        $('.delete-data').click(function() {
            postIdToDelete = $(this).attr('data-id');
            $('#confirmationModal').modal('show');
        });

        $('#confirmDelete').click(function() {
            delete_post(postIdToDelete);
            $('#confirmationModal').modal('hide');
        });

        $('#post-list').DataTable({
            columnDefs: [{
                orderable: false,
                targets: 4
            }],
            initComplete: function(settings, json) {
                $('table td, table th').addClass('px-2 py-1');
            },
            drawCallback: function(settings) {
                $('table td, table th').addClass('px-2 py-1');
            }
        });
    });

    function delete_post(postId) {
        start_loader();
        $.ajax({
            url: '{% url "delete-post" %}',
            headers: {
                'X-CSRFToken': "{{ csrf_token }}"
            },
            method: 'POST',
            data: {
                id: postId
            },
            dataType: 'json',
            success: function(resp) {
                if (resp.status === 'success') {
                    location.reload(); // Reload the page upon successful deletion
                } else {
                    alert('Failed to delete post: ' + resp.msg);
                }
                end_loader();
            },
            error: function(xhr, status, error) {
                console.error('Error deleting post:', error);
                alert('An error occurred while deleting the post.');
                end_loader();
            }
        });
    }
</script>
{% endblock ScriptBlock %}
